<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hitung Volume Kubus</title>
    <link rel="stylesheet" href="style.css">
    <style>
        body {
            background-color: rgb(252, 192, 201);
        }
    </style>
</head>
<body>
    <p style="color: palevioletred;">Menghitung Volume Bangun Ruang</p>
    <p>matematika</p>
    <h2 style="color: rgb(182, 6, 65);"> Menghitung Volume Kubus </h2>

    <form action="/hitung_volume" method="post">
        <label for="sisiKubus">Sisi (cm):</label>
        <input type="number" name="sisi" id="sisi" min="0" required>
        <button type="submit">Hitung</button>
    </form>
    


</body>
</html>